body
{
    font-family: 'Helvetica', sans-serif;
		padding-left: 250px;
		font-size: large;
		background-color:#F0F0E6;
		width:500;
}

.notes {
		font-size: medium;
}

.comic {
    padding-left: 0px;
    width:900;
    text-align:left;
    border:4px solid black;
}

